.about {
    background-color: aquamarine;
}

.lines {
    background-color: black;
    color: white;
}

.bio {
    background-color: chartreuse;
    color: black;
}

.color {
    background-color: black;
}

.My-Work {
    background-color: deeppink;
}

.inspiration {
    background-color: dodgerblue;
    color: black;
}
